logs
target
.idea
.idea_modules
RUNNING_PID
project/project
project/target
tmp
dist
.cache
*.log

# Scala-IDE specific
.metadata
.settings
.cache-main
.cache-tests
.classpath
.history
.project
.scala_dependencies

.svn
#bin
#framework/bin
#sample-play-dev/bin
sample-play-dev/.worksheet
sample-play-dev/test/jake