logs
target
.idea
.idea_modules
RUNNING_PID
project/project
project/target
tmp
dist
.cache
*.log

# Scala-IDE specific
bin
.settings
.cache-main
.cache-tests
.classpath
.history
.project
.scala_dependencies

.svn
